<div
  class="flex relative items-center justify-between text-zinc-300 text-lg px-8 py-4 border-b border-zinc-800"
>
  <div
    class="overlay h-screen w-screen absolute bg-zinc-900/30 backdrop-blur-[1px] top-0 hidden left-0"
  ></div>

  <% if (user && user.name) { %>
  <h1 class="text-5xl"><%= user.name.slice(0, 1) + "." %></h1>
  <% } else { %>
  <img
    class="h-12 w-12 rounded-full object-cover"
    src="/images/Sheryians_logo_EzwgcppnD.webp"
    alt=""
  />
  <% } %>

  <div class="flex gap-4 items-center">
    <% if (user){ %>
    <div class="flex gap-4">
      <a class="hover:scale-110 transition 3s" href="/users/profile">Home</a>
      <a class="hover:scale-110 transition" href="/about">About</a>
    </div>
    <h1 class="text-4xl cursor-pointer"><i class="ri-menu-4-fill menu"></i></h1>

    <div
      class="flex list flex-col absolute backdrop-blur-3xl backdrop-brightness-150 w-[20vw] text-2xl px-4 h-screen gap-6 py-4 top-0 -right-1/2"
    >
      <div class="text-4xl text-right">
        <i class="ri-close-circle-line cursor-pointer cross"></i>
      </div>

      <!-- ------------------ -->

      <a class="hover:scale-110 pl-5 transiay-75" href="/users/updateuser"
        >Edit profile</a
      >
      <a class="hover:scale-110 pl-5 transiay-75" href="/users/changepassword"
        >Change password</a
      >
      <a class="hover:scale-110 pl-5 transiay-75" href="/users/userdelete"
        >Delete Account</a
      >
      <a class="hover:scale-110 pl-5 transiay-75" href="/users/logout"
        >Log out</a
      >
    </div>
    <!-- ---------------- -->
    <% } else{ %>
    <a href="/">Home</a> <a href="/about">About</a>
    <% } %>
  </div>
</div>

<script>
  const menu = document.querySelector(".menu");
  const cross = document.querySelector(".cross");
  const list = document.querySelector(".list");
  const overlay = document.querySelector(".overlay");

  menu.addEventListener("click", () => {
    list.style.right = 0;
    menu.style.opacity = 0;
    list.style.transition = "right 0.40s ease";
    overlay.style.display = "block";
  });

  cross.addEventListener("click", () => {
    list.style.right = `${-100}%`;
    list.style.transition = "right 2s ease";
    menu.style.opacity = 1;
    overlay.style.display = "none";
  });
  overlay.addEventListener("click", () => {
    list.style.right = `${-100}%`;
    list.style.transition = "right 2s ease";
    menu.style.opacity = 1;
    overlay.style.display = "none";
  });
</script>
