<%- include("./partials/header") %> <%- include("./partials/navbar") %>

<div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
  <form
    class="flex rounded-lg px-8 py-7 flex-col gap-3 justify-center items-center border border-zinc-800 w-[28vw]"
    action="/users/changepassword"
    method="post"
  >
    <input
      class="block outline-none rounded-lg px-3 bg-transparent border border-zinc-800 py-2 w-full"
      type="password"
      name="oldpassword"
      placeholder="oldpassword"
    />
    <input
      class="block outline-none rounded-lg px-3 bg-transparent border border-zinc-800 py-2 w-full"
      type="password"
      name="newpassword"
      placeholder="newpassword"
    />
    <button class="bg-[#0095F6] rounded-2xl w-full py-2 font-bold text-md">
      Change password
    </button>
  </form>
</div>

<%- include("./partials/footer") %>
